@media (min-width: 768px) {
  .container {
    width: 724px;
  }
  .thumbnail {
    float: right;
  }
}

.nav, #summary {
  display: none;
}

.chart {
  margin: 2em auto;
  /* width: 600px; */
  /* height: 400px; */
}

#loading {
  text-align: center;
  width: 40%;
  margin: 10em auto 0;
}
