h1 {
  margin: 1em 0;
}
#images, #main_form {
}
#main_form input {
  display: inline-block;
}

.chart {
  margin: 2em auto;
  width: 400px;
  height: 300px;
}

.bigchart {
  margin: 2em auto;
  width: 600px;
  height: 400px;
}
