{% extends "layout.html" %}

{% block body %}
<section id="main_form">
  <form action="{{ url_for('query_user') }}" method="post" class="well form-inline" role="form">
    <legend>Entrez un numéro d'utilisateur pour calculer les statistiques:</legend>
    <div class="form-group">
      <input class="form-control" type="number" name="user_id" placeholder="N° d'utilisateur (user_id)" autofocus>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>
</section>

<section id="about">
  <div class="thumbnail">
    <img src="{{ url_for('static', filename='images/screenshot.png') }}" alt="screenshot">
  </div>

  <h2>À propos</h2>
  <p>Ce site permet de calculer des statistiques à partir de la liste de sorties d'un
    utilisateur de <a href="http://www.camptocamp.org/">Camptocamp.org</a>. Le code
    permettant de calculer ces statistiques est
    <a href="https://github.com/c2corg/c2c-stats">disponible</a> sous licence
    libre (MIT).</p>

  <h3>Réutilisation des statistiques</h3>
  <p>Il est possible de récupérer les statistiques produites pour les intégrer
    dans un autre site. Celles-ci sont disponibles au
    format <a href="https://fr.wikipedia.org/wiki/JavaScript_Object_Notation">JSON</a>
    avec une requête sur <code>/user/&lt;user_id&gt;/json</code>.</p>
  <p>Pour afficher les graphiques avec <a href="http://www.flotcharts.org/">flot</a>
    comme sur ce site, des fonctions sont disponibles dans le fichier <a href="https://github.com/c2corg/c2c-stats/blob/master/c2cstats/static/js/c2cstats.js">c2cstats.js</a>.
    Le fichier <a href="https://github.com/c2corg/c2c-stats/blob/master/c2cstats/static/js/app.js">app.js</a>
    donne un exemple d'utilisation de ces fonctions.</p>
</section>

<script>
  window.onload = function() {
    if (!("autofocus" in document.createElement("input"))) {
      document.getElementById("user_id").focus();
    }
  }
</script>
{% endblock %}
