{% extends "layout.html" %}

{% block title %}
Statistiques pour Camptocamp.org
{% endblock %}

{% block body %}
<form action="{{ url_for('query_user') }}" method="post" placeholder="user_id" id="main_form">
  <input type="text" name="user_id" placeholder="N° d'utilisateur (user_id)" autofocus>
  <input type="submit" value="Valider" class="btn">
</form>

<script>
  window.onload = function() {
    if (!("autofocus" in document.createElement("input"))) {
      document.getElementById("user_id").focus();
    }
  }
</script>
{% endblock %}
