{% extends "layout.html" %}

{% block title %}
<header class="page-header">
  <h1>Statistiques pour Camptocamp.org</h1>
</header>
{% endblock %}

{% block body %}
<section id="main_form">
  <form action="{{ url_for('query_user') }}" method="post" class="well form-inline">
    <legend>Entrez un numéro d'utilisateur pour calculer les statistiques:</legend>
    <input type="text" name="user_id" placeholder="N° d'utilisateur (user_id)" autofocus>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
</section>

<script>
  window.onload = function() {
    if (!("autofocus" in document.createElement("input"))) {
      document.getElementById("user_id").focus();
    }
  }
</script>
{% endblock %}
