
{% extends "layout.html" %}

{% block title %}
<header class="page-header">
  <h1>Statistiques pour l'utilisateur {{ user_id }}</h1>
</header>
{% endblock %}

{% block body %}
<p>⇦ Retour à l'<a href="{{ url_for('index') }}">accueil</a>.</p>

<div id="loading">
  <p>Chargement ...</p>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
</div>

<section id="summary" class="well">
  <p>Graphiques générés le <b><span id="date_generated"></span></b> à partir de <b><span
id="nb_outings"></span> sorties</b>.</p>
  <p><a id="origin-link" href="">Liste des sorties sur camptocamp.org</a></p>

  <ul>
    <li>Temps de téléchargement: <span id="download_time"></span> sec.</li>
    <li>Temps pour le parser: <span id="parse_time"></span> sec.</li>
    <li>Temps pour le calcul: <span id="generation_time"></span> sec.</li>
    <li>Temps total: <span id="total_time"></span> sec.</li>
  </ul>
</section>

<section id="charts">
  <div id="chart_activities" class="chart"></div>
  <div id="chart_area" class="chart"></div>
  <div id="chart_cot_globale" class="chart"></div>
</section>

{% endblock %}

{% block footer %}
<script src="{{ url_for('static', filename='js/libs/raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/g.raphael-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/g.pie-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/g.bar-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
var jsonurl = "{{ json_url }}";

$(document).ready(function(){
  $summary = $('#summary');
  $('#loading')
    .hide()  // hide it initially
    .ajaxStart(function() {
      $summary.hide();
      $(this).show();
    })
    .ajaxStop(function() {
      $(this).hide();
      $summary.show();
    });

  $.getJSON(jsonurl, renderplot);
});
</script>
{% endblock %}
