
{% extends "layout.html" %}

{% block body %}
<p>⇦ Retour à l'<a href="{{ url_for('index') }}">accueil</a>.</p>

<section id="summary" class="well">
  <h2>Utilisateur {{ user_id }}</h2>
  <p><span id="sparkline"></span></p>

  <div id="loading">
    <p>Chargement ...</p>
    <div class="progress progress-striped active">
      <div class="bar" style="width: 100%;"></div>
    </div>
  </div>

  <p class="hide">Graphiques générés
    le <b><span id="date_generated"></span></b> à partir
    de <b><span id="nb_outings" class="badge badge-info"></span> sorties</b>,
    en <span id="total_time" title="Temps total"></span>s
    (<span id="download_time" title="Temps de téléchargement"></span>s).</p>
  <p class="hide"><span class="label label-info">Liens C2C</span>
    <a id="origin-profile" href="">profil</a>,
    <a id="origin-link" href="">liste des sorties</a>.</p>
</section>

<section id="charts">
  <div class="navbar subnav">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="#global" data-toggle="pill">Général</a></li>
      </ul>
    </div>
  </div>

  <div id="tabs" class="tab-content">
    <div id="global" class="tab-pane fade active in row">
      <div class="span6">
        <div id="chart_activities" class="chart"></div>
      </div>
      <div class="span6">
        <div id="chart_area" class="chart"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}

<script>
var jsonurl = "{{ json_url }}";
</script>

{% assets filter="rjsmin", output="gen/packed.js",
"js/libs/bootstrap-transition.js", "js/libs/bootstrap-tab.js", "js/libs/jquery.flot.js", "js/libs/jquery.flot.pie.js", "js/libs/jquery.flot.resize.js", "js/libs/jquery.flot.tooltip.js", "js/libs/jquery.sparkline.js", "js/c2cstats.js", "js/app.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
