{% extends "layout.html" %}

{% block body %}
<p>⇦ Retour à l'<a href="{{ url_for('index') }}">accueil</a>.</p>

<div id="loading">
  <p>Chargement ...</p>
  <div class="progress progress-striped active">
    <div class="bar" style="width: 100%;"></div>
  </div>
</div>

<section id="summary"></section>

<section id="charts">
  <div class="navbar subnav">
    <div class="navbar-inner">
      <ul class="nav"></ul>
    </div>
  </div>

  <section id="global">
    <div class="page-header">
      <h1>Général</h1>
    </div>

    <div class="row">
      <div class="span6">
        <div id="chart_activities" class="chart"></div>
      </div>
      <div class="span6">
        <div id="chart_area" class="chart"></div>
      </div>
    </div>
  </section>

  <section id="alpinisme"></section>
  <section id="glace"></section>
  <section id="escalade"></section>
  <section id="rando"></section>
  <section id="raquette"></section>
  <section id="rocher"></section>
  <section id="ski"></section>
</section>

{% endblock %}

{% block footer %}

<script>
var user_id = "{{ user_id }}";
var jsonurl = "{{ json_url }}";
</script>

{% raw %}
<script id="nav-template" type="text/x-handlebars-template">
  <li><a href="#global">Général</a></li>
  {{#each activities}}
  <li><a href="#{{this}}">{{this}}</a></li>
  {{/each}}
</script>

<script id="summary-template" type="text/x-handlebars-template">
  <div class="well">
    <div class="links">
      <span class="label label-info"><a href="{{origin_profile}}">profil</a></span>
      <span class="label label-info"><a href="{{origin_link}}">liste des sorties</a></span>
    </div>

    <h2>Utilisateur {{user_id}}</h2>

    <p><span id="sparkline"></span></p>

    <p>Graphiques générés le <b>{{date_generated}}</b> à partir
      de <b><span class="badge badge-info">{{nb_outings}}</span> sorties</b>,
      en <span title="Temps total">{{time.total}}</span>s (
      <span title="Temps de téléchargement">{{time.download}}</span>s).</p>

    <p>Les statistiques sont gardées en cache pendant 7 jours, il est donc
      possible que les sorties récentes ne soient pas prises en compte
      immédiatement. Si nécessaire, il est possible de <a id="delete-cache"
      href="#">supprimer le cache</a> pour que les statistiques soient
      recalculées.</p>
  </div>
</script>

<script id="charts-template" type="text/x-handlebars-template">
  <div class="page-header">
    <h1>{{activity}}</h1>
  </div>

  <div class="row">
    <div class="span6"><div id="cotation_{{activity}}" class="chart"></div></div>
    <div class="span6"><div id="cotation_globale_{{activity}}" class="chart"></div></div>
  </div>
  <div class="row">
    <div class="span6"><div id="outings_{{activity}}" class="chart"></div></div>
    <div class="span6"><div id="gain_{{activity}}" class="chart"></div></div>
  </div>
  <div id="gain_cumul_{{activity}}" class="chart"></div>
</script>
{% endraw %}

{% assets filters="rjsmin", output="gen/packed.js",
"js/libs/handlebars.js", "js/libs/jquery.flot.js", "js/libs/jquery.flot.pie.js", "js/libs/jquery.flot.resize.js", "js/libs/jquery.flot.tooltip.js", "js/libs/jquery.sparkline.js", "js/c2cstats.js", "js/app.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock %}
